{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% set caption %}
    {{- content.field_video_upload_caption -}}
{% endset %}
{% set copyright %}
    {{- content.field_copyright -}}
{% endset %}
{%
set media_classes = [
'video-mobile',
'clearfix',
]
%}
<article{{ attributes.addClass(media_classes) }}>
    {{ content.contextual_links }}
    <div class="video-mobile__video">
        <video{{ video_attributes }}>
            {% for key, subtitle in content.field_video_upload_subtitle if key|first != '#' %}
                {{ subtitle }}
            {% endfor %}
        </video>
        {% if content.field_title|field_value or content.field_copyright|field_value %}
            <div class="video-mobile__info">
                <div class="video__info__wrap">
                    {% if content.field_title|field_value %}
                        <span class="video-mobile__caption"{{ content.field_title|quickedit_attr }}>{{ content.field_title|field_value }}</span>
                    {% endif %}
                    {% if content.field_copyright|field_value %}
                        <span class="video-mobile__copyright">
                        <span class="video-mobile__copyright-label"{{ content.field_copyright|quickedit_attr }}>{{ '&copy;'|trans }}</span>
                            {{ content.field_copyright|field_value }}
                        </span>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</article>
