{#
  link: @string - The url to the post
  caption: @string - The caption for the psots

#}
<div class="social-media-youtube l-slide">
  <a href="https://youtube.com/watch?v={{ videoID }}">
    <span class="image">
      <img  src="{{ thumbnail }}" title="{{ title }}" alt="{{ title }}"/>
    </span>
    <span class="caption">{{ title }}</span>
    <span class="link">{{ link_display }}</span>
    <span class="info">
      {% if views %}
        <span class="views">{{ views }}</span>
      {% endif %}
      <span class="likes">{{ likes }}</span>
      <span class="comments">{{ comments }}</span>
    </span>
    {% if date %}
    <span class="date">{{ date }}</span>
    {% endif %}
  </a>
</div>
