<!-- Add you custom twig html here -->
<div class="instagram-preview">
  <a href="{{ link }}">
    <span>{{ link }}</span>
    <img src="{{ imageUrl }}" title="{{ caption }}" alt="{{ caption }}" />
  </a>
</div>
