<!-- Add you custom twig html here -->
<div class="youtube-video-preview">
  <a href="https://youtube.com/watch?q={{ videoID }}">
    <span>{{ title }}</span>
    <img src="{{ thumbnail }}" title="{{ title }}" alt="{{ title }}" />
  </a>
</div>
